/* reset */
* {
    margin: 0;
    padding: 0;
}

/* header */
.header{
    height: 120px;
    width: 100%;
    background: #ccc;
    display: block;
}

/* content */
.container {
    background: #eee;
    width: 100%;
    max-width: 980px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 200vh;
    padding: 40px 0 0 0;
}
    .conteudo-left {
        background: #ccc;
        width: calc(70% - 0.5rem);
        display: block;
        float: left;
        height: 800px;
    }
    .conteudo-right {
        width: calc(30% - .5rem);
        float: right;
        background: #888;
        height: 200px;
    }

/* special class */
.fixed{
    position: fixed;
    top: 15px;
}

